docker/**/*
backend-flask/__pycache__/
frontend-react-js/node_modules/.cache
frontend-react-js/node_modules/
backend-flask/services/__pycache__/
backend-flask/lib/__pycache__/
backend-flask/lib/__pycache__/db.cpython-310.pyc
